*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgb(0, 0, 0);
    /* z-index: 1; */
}
#nav > li{
    display: inline-block;
    
    float: right;
}
#nav > li > a{
    color: rgb(180, 180, 180);
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    display: block;
}

#nav > li > a:hover{
    color: aliceblue;
}
#nav .nt{
    float:left;
    font-size: 20px;
}

#slider{
    margin-top: 70px;
    background-color: yellow;
    min-height: 1000px;
}
#slider > #left{
    width: 15%;
    height: 1000px;
    background-color: red;
    float: left;
}
#slider > #left > .head{
    font-size: 35px;
    padding: 15px 0px;
}
#slider > #left > .categary{
    padding: 10px;
    color: blue;
    border: 0.5px solid black;
}
#slider > #right{
    width: 85%;
    height: 1000px;
    background-color:black;
    float: left;
}
