*{
    padding: 0;
    margin: 0;

}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #fff;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header  h2 {
    color: black;
    margin-left: 20px;
}
#header a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
#header a:first-child{
    color: red;
}
.main{
    display: flex;
    margin-top: 130px;
}
.left{
    width: 15%;

}
.right{
    width: 15%;
}
.center{
    width: 70%;
    background-color:#99e1f6;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
    max-width:300px;
    max-height:400px;
    width: auto;
    height: auto;
    margin: 15px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.team1{
    display: inline-block;
}
.ten{
    text-align: center;
    font-style: italic;
}
@media screen and (max-width: 940px) {

    img{
        max-width: 95%;
        max-height: 100%;
    }
    
}



